.clear-float{clear: both;}

#medias{margin-bottom: 40px;}
.upload-media p{font-size: 14px;margin-top: 8px;}
.upload-media p label{text-align: right;display: inline-block;width: 200px;margin-right: 20px;}
.upload-media button{margin: 10px auto; background-color: #ffffff; color:#555555; border: none;display: block;padding: 5px 15px;font-size: 14px;}
.upload-media input[type="file"] {background-color: #F7F7F7;color: #555555;padding: 3px 7px;font-size: 14px;}
.upload-media p input[name="description"] {width: 310px;border: none;padding: 5px 4px;}

h3{font-weight: bolder;font-size: 1.3em;margin-bottom: 20px;color:#dd4a4a;}
#list-checkins{text-align: center}
#list-checkins ul li{padding: 8px 20px;background-color: #efefef;width: 90%;margin-bottom: 25px;}
#list-checkins ul li:hover{background-color: #f7f7f7;}
#list-checkins ul li p{font-style: italic;color:#616161;padding-left: 10px;}
#list-checkins ul li span:nth-child(2){font-weight: bold;color:#6DC7E2;}
#list-checkins ul li span:nth-child(3){color:#333333;}
#list-checkins ul li .suppr{font-size: 80%;float: right;display: inline-block;padding: 3px 8px;background-color: #dd4a4a;color: #ffffff;border-radius: 4px}


#map-canvas{margin-top:0;}
/*#map-section{position:relative;}*/
#map-section p{position:absolute;z-index:50;top:75px;right:10px;}
#map-section p input{background-color: #eeeeee;border: thick solid #ffffff;color: #646464;font-size: 1em;padding: 5px;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;}
#geocoder{top:130px;right:10px;/*enlever le left:80%*/}

#checkin-btn a{padding: 8px 15px;background-color: #dd4a4a;color: #ffffff;font-size: 1.2em;border: none;text-decoration: none;}

#infowindow-skatepark{width: 200px; height: 50px;margin-bottom: 10px;}

#pseudo-checkin{font-size: 16px;}
#plan-checkin h2{font-weight: bold;font-size: 120%;}

.noscrollbar {line-height:1.35;overflow:hidden;white-space:nowrap;}


#weather {background-color: #6dc7e2;padding:0;}

#iconSports{margin-left: 10px}
#iconSports img{padding: 0 3px;}

#ul_dmd a{color: #6DC7E2;text-decoration: none}
#ul_dmd a:hover{text-decoration: underline}
#ul_dmd input[type=button]{background-color: #efefef;border: none;color: #707070;padding: 4px 8px;}

 /* RESPONSIVE 

@media screen and (max-width: 820px) {
#userbar{height:auto;} 
#userbar-content {width: 100%;position: relative;} --> Pas de left ou margin left
#statut {display:block;width:auto;margin-top: 15px;}
#profile-content {width: 95%;padding: 40px 10px;}
.poster-media {display:block;margin: 10px auto;}
.upload-media {padding: 10px;}
.upload-media p{text-align:center;}
.upload-media p label{text-align: inherit;display: inline;margin-right:0;}
.upload-media button {margin-top: 10px;}
#gallery-container{width: 100%;}
#video-section {width: 98%;}
}


*/


