.clear-float{clear: both;}
#medias{margin-bottom: 40px;}
.upload-media p{font-size: 14px;margin-top: 8px;}
.upload-media p label{text-align: right;display: inline-block;width: 200px;margin-right: 20px;}
.upload-media button{margin: 0 auto; background-color: #ffffff; color:#555555; border: none;display: block;padding: 5px 15px;font-size: 14px;}

h3{font-weight: bolder;font-size: 1.3em;margin-bottom: 20px;}
#list-checkins ul li{padding: 8px 20px;background-color: #efefef;width: 60%;margin-bottom: 5px;}
#list-checkins ul li:hover{background-color: #f7f7f7;}
#map-canvas{margin-top:0;}
#map-section{position:relative;}
#map-section p{position:absolute;z-index:50;top:75px;right:10px;}
#map-section p input{background-color: #eeeeee;border: thick solid #ffffff;color: #646464;font-size: 1em;padding: 5px;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;}
#geocoder{top:130px;right:10px;/*enlever le left:80%*/}

#checkin-btn a{padding: 8px 15px;background-color: #dd4a4a;color: #ffffff;font-size: 1.2em;border: none;text-decoration: none;}

#infowindow-skatepark{width: 200px; height: 50px;}