@font-face {
    font-family: 'ProximaNovaSemibold';
    src: url('../fonts/proximanova/proximanova-semibold.eot');
    src: url('../fonts/proximanova/proximanova-semibold.eot') format('embedded-opentype'),
         url('../fonts/proximanova/proximanova-semibold.woff') format('woff'),
         url('../fonts/proximanova/proximanova-semibold.ttf') format('truetype'),
         url('../fonts/proximanova/proximanova-semibold.svg#ProximaNovaSemibold') format('svg');
}
@font-face {
    font-family: 'ProximaNovaSemiboldItalic';
    src: url('../fonts/proximanova/proximanova-semiboldItalic.eot');
    src: url('../fonts/proximanova/proximanova-semiboldItalic.eot') format('embedded-opentype'),
         url('../fonts/proximanova/proximanova-semiboldItalic.woff') format('woff'),
         url('../fonts/proximanova/proximanova-semiboldItalic.ttf') format('truetype'),
         url('../fonts/proximanova/proximanova-semiboldItalic.svg#ProximaNovaSemiboldItalic') format('svg');
}
@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('../fonts/proximanova/proximanova-regular.eot');
    src: url('../fonts/proximanova/proximanova-regular.eot') format('embedded-opentype'),
         url('../fonts/proximanova/proximanova-regular.woff') format('woff'),
         url('../fonts/proximanova/proximanova-regular.ttf') format('truetype'),
         url('../fonts/proximanova/proximanova-regular.svg#ProximaNovaRegular') format('svg');
}
html{height:100%;}
body{
	font-family: 'ProximaNovaRegular', verdana;
  min-height:100%;
  margin:0;
  padding:0;
  position:relative;
}
#topbar-content{
	padding-top:10px;
  width:100%;
  max-width:1020px;
  margin:0 auto;
  position: relative;
}
#topbar-content a:visited, #topbar-content a:link{
  color:#202020;
  text-decoration:none;
}
#topbar{
  width:100%;
  margin:0 auto;
	height:50px;
	background:white;
	border-bottom: solid 1px #6dc9e4;
	font-size:14px;
	position:fixed;
  z-index: 100;
}
h1{position:absolute;left:30px;}
h1:hover{
  -moz-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -webkit-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -o-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -ms-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}
#topbar li{display:inline-block;margin-left:13px;}
#topbar ul{font-family: 'ProximaNovaSemibold';font-size:14px;position:absolute;right:30px;}
#notif-number{position:absolute;top:-5px;right:-5px;height:10px;width:10px;background-color:red;color:white;font-size:9px;line-height:11px;text-align:center;border-radius:50%;}
#topbar li input{
    margin-right:19px;
    height:25px;
    width:240px;
    text-align:right;
    box-shadow:none;
    border:solid 1px #e2e2e2;
    padding-right:10px;
    font-family: 'ProximaNovaSemibold';
    font-size: 14px;

}
.red-text{color:#e58787;}
#resultat {
  background-color: #ffffff;
  opacity: 0;
  display:none;
  width: 240px;
  position: absolute;
}
#resultat.affichageR #list-results{
  background-color: #ffffff;
  overflow:auto;
  width: 253px;
  left: 0;
  max-height: 300px;
}
#resultat ul li{
  display: block;
  position: relative;
}
#userbar{position:absolute;z-index:1;width:100%;top:75%;margin-top:40px;height:160px;background:#efefef;} /* le padding fait déborder de l'écran */
#userbar-content{width:960px;position:relative;}
#userbar-content img{display:inline-block;}
#userbar h2{font-family: 'ProximaNovaSemibold';font-size:18px;}
#userbar p{font-size:14px;margin-top:2px;}
#userbar :nth-child(4){color:#8d8d8d;}
#dmdAmi{
    height:24px;
    text-transform: uppercase;
    font-size:14px;
    padding-top:5px;
    text-align:center;
    background:white;
    color:#dd4a4a;
    margin-top:5px;
    border: none;
}
#identity{display:inline-block;vertical-align:top;margin-left:7px;height:100%;}
#cal{
    height:181px;
    width:276px;
    position:absolute;
    right:0;
    top:-20px;
}
#cal-shadow-1{
    height:10px;
    width:10px;
    background:#797979;
    margin-left:3px;
    -moz-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(-30deg) skewY(0deg);
        -webkit-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(-30deg) skewY(0deg);
        -o-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(-30deg) skewY(0deg);
        -ms-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(-30deg) skewY(0deg);
        transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(-30deg) skewY(0deg);
}
#cal-shadow-2{width:270px;height:180px;background:#dcdcdc;position:absolute;bottom:0;left:3px;
        -moz-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(-2deg) skewY(0deg);
        -webkit-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(-2deg) skewY(0deg);
        -o-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(-2deg) skewY(0deg);
        -ms-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(-2deg) skewY(0deg);
        transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(-2deg) skewY(0deg);
}
/*#cal :nth-child(3){width:270px;height:180px;background:white;position:absolute;top:0;right:0;}*/
#weather{width:270px;height:180px;position:absolute;top:0;right:0;padding:10px;}
#weather :nth-child(1){position:absolute;top:25px;left:40%;}
#weather :nth-child(2){position:absolute;bottom:25px;left:41%;}
#weather :nth-child(3){position:absolute;top:36%;right:30px;font-size: 40px;}
#weather span{font-size: 20px;color: #ffffff;font-weight: bolder;text-transform: uppercase;}
#weather img{position:absolute;left:45px;top:30%;}
#status{
    width:210px;
    text-align:center;
    color:#8d8d8d;
    font-family: 'ProximaNovaSemiboldItalic';
    font-size:14px;
    margin:0 auto;
}
#status~p{text-align:center;margin-top: 20px;}
#statut{vertical-align:top;width:40%;margin-top:15px;}
#envoiStatut{width:210px;background-color:#ffffff;padding:5px 2px;border:none;font-weight:bold;}
#newStatut{width:202px;padding:4px;border:none;}


.transition200io, #classement-dropdown li, #envoie, .opacity-1, .opacity-0, h1{
  -webkit-transition: all 200ms ease-in-out;
        -moz-transition: all 200ms ease-in-out;
        -ms-transition: all 200ms ease-in-out;
        -o-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out;
}

#connexion-dropdown, #classement-dropdown, #abonnes-dropdown, #amis-dropdown, #inscription-fb-dropdown, #inscription-dropdown, #profiledit-dropdown, #home-popin{
  width:320px;
  position:fixed;
  left:50%;
  margin-left:-160px;
  border:solid 1px #e4e4e4;
  text-align:center;
  font-size:14px;
  padding-bottom:19px;
  -webkit-box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.1);
  background-color:white;
  z-index:200;
}
#classement-dropdown ul{overflow:auto;max-height: 300px;}
#profiledit-dropdown{width:480px;margin-left:-240px;position:absolute;}
.profiledit-right{width:320px;float:right;margin-bottom:14px;}
#pp-profiledit{position:relative; width:133px;height:133px;}
#link-pp-profiledit{position:absolute;top:203px;left:22px;color:#8d8d8d;}
#link-pp-profiledit a{cursor:pointer;}
.dropdown-up{
  -moz-transform: scale(1) rotate(0deg) translateX(0px) translateY(-150%) skewX(0deg) skewY(0deg);
        -webkit-transform: scale(1) rotate(0deg) translateX(0px) translateY(-150%) skewX(0deg) skewY(0deg);
        -o-transform: scale(1) rotate(0deg) translateX(0px) translateY(-150%) skewX(0deg) skewY(0deg);
        -ms-transform: scale(1) rotate(0deg) translateX(0px) translateY(-150%) skewX(0deg) skewY(0deg);
        transform: scale(1) rotate(0deg) translateX(0px) translateY(-150%) skewX(0deg) skewY(0deg);
}
.dropdown-down{top:-1px;}
.dropdown-down, .dropdown-up, .affichageR{
-webkit-transition: all 500ms ease-in-out;
        -moz-transition: all 500ms ease-in-out;
        -ms-transition: all 500ms ease-in-out;
        -o-transition: all 500ms ease-in-out;
        transition: all 500ms ease-in-out;
}
.dropdown-title{
  margin:19px 19px 27px 19px;
  font-size:18px;
  font-family: 'ProximaNovaSemibold';
}

#connexion-dropdown input{
  margin-bottom:14px;
  font-size:14px;
  outline:none;
}
#btn-connexion, #btn-fbco, #connexion-dropdown input{
  height:36px;
  width:202px;
  border:solid 1px #e4e4e4;
  text-align:center;
}
#btn-connexion, #btn-fbco{
  position:relative;
  left:50%;
  margin-left:-101px;
  line-height:36px;
  color:white;
}

/*#connexion-dropdown input[type=submit]{background-color:#6dc9e4;display:block;color:white;text-decoration:none;border: none;}*/

.blubtn{background-color:#6dc9e4;display:block;color:white;text-decoration:none;border: none;}
.greybtn{background-color:#eeeeee;display:block;color:#d7d7d7;text-decoration:none;border: none;}

#connexion-dropdown input[type=submit]:hover{background-color:#76d7f4;cursor:pointer;}

#btn-fbco{background-color:#46629e;margin-bottom:18px;}
#btn-fbco a{display:block;color:white;text-decoration:none;}
#btn-fbco:hover{background-color:#5172b9;cursor:pointer;}

#separation{
  border-top:solid 1px #e4e4e4;
  margin-top:14px;
  width:202px;
  position:relative;
  left:50%;
  margin-left:-101px;
  height:0px;
  margin-bottom:14px;
}
#separation p{
  width:32px;
  background:white;
  margin-top:-8px;
  position:relative;
  left:50%;
  margin-left:-16px;  
  color:#8d8d8d;
}
#avatar {
    position: absolute;
    top: 20px;
    left: -22px;
    font-size: 12px;
    width: 405px;
    padding: 20px;
    padding-left: 55px;
    height: 20px;
    border-top: solid 1px #6dc9e4;
    border-bottom: solid 1px #6dc9e4;
    -webkit-box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.1);   box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.1);
}
.no-account:link, .no-account:visited{color:#6dc7e2;}
.no-account:hover, .field-send:hover{color:#6dc7e2;text-decoration:none;}
.field-send:link, .field-send:visited{color:#6dc7e2;text-decoration:none;}

.close{
  position:absolute;
  right:14px;
  top:18px;
}
#close-avatar{
  position:absolute;
  left:0;
  top:43px;
}

#classement-dropdown li{
  height:27px;
  line-height:27px;
  padding-right:14px;
}
#testgr{display:block;}
#classement-dropdown li:hover{background-color:#efefef;}
.categ{
  height:100%;
  width:2px;
  float:left;
}
.goldcup{background:url('../imgs/cup-gold.png') no-repeat;}
.silvercup{background:url('../imgs/cup-silver.png') no-repeat;}
.bronzecup{background:url('../imgs/cup-bronze.png') no-repeat;}
.cup{width:27px;height:27px;float:left;background-position:center right;}

.blue{background-color:#69c1db;}
.red{background-color:#e58787;}
.yellow{background-color:#f7f041;}
.blue{background-color:#69c1db;}
.blue{background-color:#69c1db;}
.rider{float:left;font-family: 'ProximaNovaSemibold';margin-left:14px;}
.score,.acceptation{float:right;color:#797979;}

#galery{height:400px;width:100%;}

#liste-abonnes, #liste-amis {
  max-height: 200px;
  overflow:auto
}

#liste-amis ul li, #resultat ul li{
  padding:0px 10%;
  margin: 0 auto;
  text-align: left;
    -webkit-transition: all 200ms ease-in-out;
        -moz-transition: all 200ms ease-in-out;
        -ms-transition: all 200ms ease-in-out;
        -o-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out;
}
#liste-amis ul li:hover, #resultat ul li:hover {
  background-color: #efefef;
}
#liste-amis ul li a img, #resultat ul li a img{
  border: solid 2px #dddddd;
  margin: 5px;
  vertical-align: middle;
}
#resultat ul li a img{
  width:20px;
  height:20px;
}
#liste-amis ul li a, #resultat ul li a{
  color: #444;
  text-decoration: none;
  display: block;
}


#map-canvas{height:100%;width:100%;margin-top:50px;position:absolute;}
#map-section{margin-top:50px;height:75%;width:100%;position:absolute;}

/*--Infobulles checkins--*/
#pseudo-checkin {display: block; background-color: #eeeeee; padding: 0; margin: 0; height: 30px;}
#content-infocheckin{padding: 10px;color: #aaa;}

/*--Form recherche lieu--*/
#geocoder {position:absolute;z-index:50;top: 50px;}
#geocoder input {
    background-color: #eeeeee;
    border: thick solid #ffffff;
    color: #646464;
    font-size: 1em;
    padding: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}



.l-field{
  width:100%;
  height:45px;
  border-top:solid 1px #ededed;
  border-bottom:solid 1px #ededed;
  font-size:14px;
  clear:both;
  margin-bottom:-1px;
  overflow: hidden;

}
.xl-field{
  width:100%;
  height:128px;
  border-top:solid 1px #ededed;
  border-bottom:solid 1px #ededed;
  font-size:14px;
  clear:both;
  margin-bottom:-1px;
}

.spaced{margin-top:14px;}
.send{margin-bottom:-6px;}
.l-text-field{
  height:100%;
  width:210px;
  /*margin-left:10px;*/
  /*padding-left:10px;*/
  border:none;
  color:black;
  font-size:14px;
  outline:none;
}

.field-desc{
  color:#8d8d8d;
  text-align:right;
  width:100px;
  float:left;
  line-height:48px;
}


.opacity-0{opacity: 0;}
.opacity-1{opacity: 1;}
.dspln{display:none;}
.bluee{background:blue;}

.checkbox{display:none;}

.check{position:relative;}
.check img{position:absolute;top:14px;right:14px;}

.sports-checkboxes{width:210px;float:right;margin-top:12px;}
.niveau{margin-top:12px;float:left;margin-left:10px;}
.sports-checkboxes li{text-align:left;margin-top:3px;}

.sports-checkboxes input{margin-right:8px;}

.envoie{width:100%;height:45px;background-color: white;border:none;color:#69c1db;font-size:16px;font-family: 'ProximaNovaSemibold';cursor:pointer;}
.greyenvoie{width:100%;height:45px;background-color: #eeeeee;border:none;color:#d7d7d7;font-size:16px;font-family: 'ProximaNovaSemibold';cursor:pointer;}
.envoie-warning{margin-top:6px;border-bottom:solid 1px #f1f1f1;width:100%;height:45px;background-color: white;border:none;color:#e58787;font-size:16px;font-family: 'ProximaNovaSemibold';cursor:pointer;}
.envoie:hover, .envoie-warning:hover{background-color: #efefef;}
#facebook_button{margin-top:11px;}


#entryfail{position:absolute;top:124px;right:15px;}




#profile-content{width:960px;z-index:1;margin:0 auto;margin-top:40px;position:absolute;top:75%;margin-top:220px;}
#wax{background-color: white;padding-top: 10px;margin-bottom: 50px;}

#medias{width:100%;margin:0 auto;padding-top:40px;margin-bottom: 40px;height: 400px}

.poster-media{display:inline-block;width:200px;height:25px;background-color:#efefef;text-transform:uppercase;font-weight:bold;color:#dd4a4a;margin-left:180px;text-align: center;padding-top:8px;text-decoration:none;}
.poster-media a:visited{color:#dd4a4a;}
.poster-media a:hover{text-decoration: underline;}
.inline-block{display:inline-block;}
.upload-media{margin: 20px 5px;background-color:#efefef;padding:20px;}

h3{margin-top: 40px;font-weight: bold;font-size: 1.1em}

#list-checkins ul{}

footer {
    position: fixed;
    bottom: 0;
    background-color: white;
    z-index:0;
    text-align: center;
    width: 960px;
    left:50%;
    margin-left:-480px;
    height: 30px;
    border-top: 1px solid #6dc9e4;
    line-height: 30px;
    font-size: 14px;
}

footer a:visited, footer a:link{color:#6dc9e4;text-decoration: none;}
.pointer{cursor:pointer;}

#map-section.home{height:100%;margin-top:0;}

#home-popin{text-align:center;line-height:20px;z-index:100;background-color:white;position:absolute;top:50%;left:50%;width:750px;height:490px;margin-left:-375px;margin-top:-245px;}
#home-popin div:nth-child(1){position:relative;height:220px;width:100%;background:url('../imgs/home-skater.jpg') no-repeat;background-position: center center;}
#home-popin div:nth-child(1) img{position:absolute;left:-10px;top:-20px;}
#home-popin div:nth-child(2){padding:0 50px;}
.popin-title{margin-top:68px;margin-bottom:24px;}
#popin-btn{width:202px;height:36px;background-color:#6dc9e4;color:white;font-size:16px;line-height:36px;margin:0 auto;border: solid 1px #e4e4e4; margin-top:32px;}
#popin-btn:hover{background-color:#76d7f4;cursor:pointer;}


@media screen and (max-width: 820px) {
#topbar-content{width:320px;margin-left:-160px;left:50%;}
#topbar h1{left:50%;margin-left:-31px;}
#topbar li{margin-left: 19px;}
#topbar li input{margin-top:10px;margin-right:46px;width:208px;}
#topbar li:nth-child(n+4){display:block;}

#mobile-more-icon{position:fixed;left:19px;top:19px;z-index:200;}
#topbar ul{
  width:320px;
  position:fixed;
  left:50%;
  top:50px;
  margin-left:-160px;
  border:solid 1px #e4e4e4;
  text-align:center;
  font-size:14px;
  padding-bottom:19px;
  background-color: rgba(255, 255, 255, 0.9);
    color: rgba(255, 255, 255, 0.9);
    }
  /*#topbar li:nth-child(-n+6){display:inline-block;}*/
  .touch-icon{float:left;width:50px;height:50px;position:relative;margin-bottom:10px;}
  .touch-icon img{position:absolute;top:50%;left:50%;margin-left:-7px;margin-top:-7px;}
  .notif-number{top:12px;right:17px;}
  .desktop-only{display:none;}
  #topbar li:nth-child(n+6) {display:inline;}
  .mobile-dropdown-up{
  -moz-transform: scale(1) rotate(0deg) translateX(0px) translateY(-150%) skewX(0deg) skewY(0deg);
        -webkit-transform: scale(1) rotate(0deg) translateX(0px) translateY(-150%) skewX(0deg) skewY(0deg);
        -o-transform: scale(1) rotate(0deg) translateX(0px) translateY(-150%) skewX(0deg) skewY(0deg);
        -ms-transform: scale(1) rotate(0deg) translateX(0px) translateY(-150%) skewX(0deg) skewY(0deg);
        transform: scale(1) rotate(0deg) translateX(0px) translateY(-150%) skewX(0deg) skewY(0deg);
    }
  .mobile-dspln{display:none;}
  #profiledit-dropdown{width:320px;margin-left:-160px;}
  #link-pp-profiledit{position:inherit;margin:10px;}
  #close-avatar{position:absolute;left:18px;top:209px;}
  #avatar{top:185px;left:0px;width:245px;}
  #profile-picture{width:70px;height:70px;border-radius:50%;}
  #home-popin{width:320px;margin-left:-160px;}
  .popin-title{margin-top:40px;margin-bottom:24px;}
  }

@media screen and (min-width: 821px) {
/*#topbar li img{display:block;}*/
.mobile-only{display:none;}
#mobile-more-close{display:none;}
.abos{margin-right:19px;position:relative;}
#profile-content, #userbar-content{left:50%;margin-left:-480px;}
#statut{display:inline-block;}
#userbar{padding:10px 0;}
#profile-picture{width:160px;height:160px;}
  }



