@font-face {
    font-family: 'ProximaNovaSemibold';
    src: url('../fonts/proximanova/proximanova-semibold.eot');
    src: url('../fonts/proximanova/proximanova-semibold.eot') format('embedded-opentype'),
         url('../fonts/proximanova/proximanova-semibold.woff') format('woff'),
         url('../fonts/proximanova/proximanova-semibold.ttf') format('truetype'),
         url('../fonts/proximanova/proximanova-semibold.svg#ProximaNovaSemibold') format('svg');
}
@font-face {
    font-family: 'ProximaNovaSemiboldItalic';
    src: url('../fonts/proximanova/proximanova-semiboldItalic.eot');
    src: url('../fonts/proximanova/proximanova-semiboldItalic.eot') format('embedded-opentype'),
         url('../fonts/proximanova/proximanova-semiboldItalic.woff') format('woff'),
         url('../fonts/proximanova/proximanova-semiboldItalic.ttf') format('truetype'),
         url('../fonts/proximanova/proximanova-semiboldItalic.svg#ProximaNovaSemiboldItalic') format('svg');
}
@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('../fonts/proximanova/proximanova-regular.eot');
    src: url('../fonts/proximanova/proximanova-regular.eot') format('embedded-opentype'),
         url('../fonts/proximanova/proximanova-regular.woff') format('woff'),
         url('../fonts/proximanova/proximanova-regular.ttf') format('truetype'),
         url('fonts/proximanova/proximanova-regular.svg#ProximaNovaRegular') format('svg');
}

body{
	font-family: 'ProximaNovaRegular', verdana;
}
#topbar-content{
	width:960px;
	margin-left:-480px;
	left:50%;
	position:relative;
	padding-top:18px;
}
#topbar-content a:visited{
  color:#6dc9e4;
}
#topbar{
	height:50px;
	background:white;
	border-bottom: solid 1px #6dc9e4;
	font-size:14px;
	position:fixed;
	width:100%;
    z-index: 100;
}
#topbar h1{font-family: 'ProximaNovaSemibold';font-size:18px;position:absolute;left:0;}
#topbar li{display:inline-block;margin-left:13px;}
#topbar ul{font-family: 'ProximaNovaSemibold';font-size:14px;position:absolute;right:0px;}
.abos{margin-right:19px;}
#topbar li input{
    margin-right:19px;
    height:25px;
    width:240px;
    text-align:right;
    box-shadow:none;
    border:solid 1px #e2e2e2;
    padding-right:10px;
    font-family: 'ProximaNovaSemibold';
    font-size: 14px;

}
#resultat {
  background-color: #ffffff;
  opacity: 0;
  width: 240px;
  position: absolute;
}
#list-results{
  background-color: #ffffff;
  position: relative;
  width: 240px;
}
#resultat ul li{
  display: block;
  position: relative;
}
#userbar-content{width:960px;position:relative;margin-left:-480px;left:50%;}
#userbar-content img{display:inline-block;}
#userbar{height:160px;padding:10px;background:#efefef;}
#userbar h2{font-family: 'ProximaNovaSemibold';font-size:18px;}
#userbar p{font-size:14px;margin-top:2px;}
#userbar :nth-child(4){color:#8d8d8d;}
#subscribe{
    height:18px;
    width:110px;
    text-transform: uppercase;
    font-size:14px;
    padding-top:5px;
    text-align:center;
    background:white;
    color:#dd4a4a;
    margin-top:6px;
}
#identity{display:inline-block;vertical-align:top;margin-left:7px;height:100%;}
#cal{
    height:181px;
    width:276px;
    position:absolute;
    right:0;
    top:-20px;
}
#cal-shadow-1{
    height:10px;
    width:10px;
    background:#797979;
    margin-left:3px;
    -moz-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(-30deg) skewY(0deg);
        -webkit-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(-30deg) skewY(0deg);
        -o-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(-30deg) skewY(0deg);
        -ms-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(-30deg) skewY(0deg);
        transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(-30deg) skewY(0deg);
}
#cal-shadow-2{width:270px;height:180px;background:#e4e4e4;position:absolute;bottom:0;left:4px;
        -moz-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(-2deg) skewY(0deg);
        -webkit-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(-2deg) skewY(0deg);
        -o-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(-2deg) skewY(0deg);
        -ms-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(-2deg) skewY(0deg);
        transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(-2deg) skewY(0deg);
}
#cal :nth-child(3){width:270px;height:180px;background:white;position:absolute;top:0;right:0;}
#status{
    width:300px;
    text-align:center;
    color:#8d8d8d;
    font-family: 'ProximaNovaSemiboldItalic';
    font-size:14px;
    margin:0 auto;
}
#status~p{text-align:center;margin-top: 20px;}
#statut{display:inline-block;vertical-align:top;width:40%;margin-top:15px;}
#envoiStatut{width:200px;background-color:#ffffff;padding:5px 2px;border:none;font-weight:bold;}
#newStatut{width:200px;padding:4px;border:none;}


.transition200io, #classement-dropdown li, #envoie{
  -webkit-transition: all 200ms ease-in-out;
        -moz-transition: all 200ms ease-in-out;
        -ms-transition: all 200ms ease-in-out;
        -o-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out;
}

#connexion-dropdown, #classement-dropdown, #abonnes-dropdown, #amis-dropdown, #inscription-fb-dropdown, #inscription-dropdown, #profiledit-dropdown{
  width:320px;
  position:fixed;
  left:50%;
  margin-left:-160px;
  border:solid 1px #e4e4e4;
  text-align:center;
  font-size:14px;
  padding-bottom:19px;
  -webkit-box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.1);
  background-color:white;
  z-index:200;
}

#profiledit-dropdown{width:480px;margin-left:-240px;}
.profiledit-right{width:320px;float:right;margin-bottom:14px;}
#pp-profiledit{position:relative;}
#link-pp-profiledit{position:absolute;top:203px;left:22px;color:#8d8d8d;}
.dropdown-up{
  -moz-transform: scale(1) rotate(0deg) translateX(0px) translateY(-150%) skewX(0deg) skewY(0deg);
        -webkit-transform: scale(1) rotate(0deg) translateX(0px) translateY(-150%) skewX(0deg) skewY(0deg);
        -o-transform: scale(1) rotate(0deg) translateX(0px) translateY(-150%) skewX(0deg) skewY(0deg);
        -ms-transform: scale(1) rotate(0deg) translateX(0px) translateY(-150%) skewX(0deg) skewY(0deg);
        transform: scale(1) rotate(0deg) translateX(0px) translateY(-150%) skewX(0deg) skewY(0deg);
}
.dropdown-down{top:-1px;}
.dropdown-down, .dropdown-up, .affichageR{
-webkit-transition: all 500ms ease-in-out;
        -moz-transition: all 500ms ease-in-out;
        -ms-transition: all 500ms ease-in-out;
        -o-transition: all 500ms ease-in-out;
        transition: all 500ms ease-in-out;
}
.dropdown-title{
  margin:19px 19px 27px 19px;
  font-size:18px;
  font-family: 'ProximaNovaSemibold';
}

#connexion-dropdown input{
  margin-bottom:14px;
  font-size:14px;
  outline:none;
}
#btn-connexion, #btn-fbco, #connexion-dropdown input{
  height:36px;
  width:202px;
  border:solid 1px #e4e4e4;
  text-align:center;
}
#btn-connexion, #btn-fbco{
  position:relative;
  left:50%;
  margin-left:-101px;
  line-height:36px;
  color:white;
}

#connexion-dropdown input[type=submit]{background-color:#6dc9e4;display:block;color:white;text-decoration:none;border: none;}

#connexion-dropdown input[type=submit]:hover{background-color:#76d7f4;cursor:pointer;}

#btn-fbco{background-color:#46629e;margin-bottom:18px;}
#btn-fbco a{display:block;color:white;text-decoration:none;}
#btn-fbco:hover{background-color:#5172b9;cursor:pointer;}

#separation{
  border-top:solid 1px #e4e4e4;
  margin-top:14px;
  width:202px;
  position:relative;
  left:50%;
  margin-left:-101px;
  height:0px;
  margin-bottom:14px;
}
#separation p{
  width:32px;
  background:white;
  margin-top:-8px;
  position:relative;
  left:50%;
  margin-left:-16px;  
  color:#8d8d8d;
}

.no-account:link, .no-account:visited{color:#6dc7e2;}
.no-account:hover, .field-send:hover{color:#6dc7e2;text-decoration:none;}
.field-send:link, .field-send:visited{color:#6dc7e2;text-decoration:none;}

.close{
  position:absolute;
  right:14px;
  top:18px;
}

#classement-dropdown li{
  height:27px;
  line-height:27px;
  padding-right:14px;
}
#testgr{display:block;}
#classement-dropdown li:hover{background-color:#efefef;}
.categ{
  height:100%;
  width:2px;
  float:left;
}
.goldcup{background:url('../imgs/cup-gold.png') no-repeat;}
.silvercup{background:url('../imgs/cup-silver.png') no-repeat;}
.bronzecup{background:url('../imgs/cup-bronze.png') no-repeat;}
.cup{width:27px;height:27px;float:left;background-position:center right;}

.blue{background-color:#69c1db;}
.red{background-color:#e58787;}
.yellow{background-color:#f7f041;}
.blue{background-color:#69c1db;}
.blue{background-color:#69c1db;}
.rider{float:left;font-family: 'ProximaNovaSemibold';margin-left:14px;}
.score,.acceptation{float:right;color:#797979;}

#galery{height:400px;width:100%;}

#liste-abonnes, #liste-amis {
  max-height: 200px;
  overflow:auto
}

#liste-amis ul li, #resultat ul li{
  padding:0px 10%;
  margin: 0 auto;
  text-align: left;
    -webkit-transition: all 200ms ease-in-out;
        -moz-transition: all 200ms ease-in-out;
        -ms-transition: all 200ms ease-in-out;
        -o-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out;
}
#liste-amis ul li:hover, #resultat ul li:hover {
  background-color: #efefef;
}
#liste-amis ul li a img, #resultat ul li a img{
  border: solid 2px #dddddd;
  margin: 5px;
  vertical-align: middle;
}
#resultat ul li a img{
  width:20px;
  height:20px;
}
#liste-amis ul li a, #resultat ul li a{
  color: #444;
  text-decoration: none;
  display: block;
}


#map-canvas{/*height:75%*/height:500px;width:100%;margin-top:50px;}
#map-section{padding-top: 50px;}

/*--Infobulles checkins--*/
#pseudo-checkin {display: block; background-color: #eeeeee; padding: 0; margin: 0; height: 30px;}
#content-infocheckin{padding: 10px;color: #aaa;}

/*--Form recherche lieu--*/
#geocoder {position:absolute;z-index:50;right:10%; top: 50px;}
#geocoder input {
    background-color: #eeeeee;
    border: thick solid #ffffff;
    color: #646464;
    font-size: 1em;
    padding: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}



.l-field{
  width:100%;
  height:45px;
  border-top:solid 1px #ededed;
  border-bottom:solid 1px #ededed;
  font-size:14px;
  clear:both;
  margin-bottom:-1px;
  overflow: hidden;

}
.xl-field{
  width:100%;
  height:128px;
  border-top:solid 1px #ededed;
  border-bottom:solid 1px #ededed;
  font-size:14px;
  clear:both;
  margin-bottom:-1px;
}

.spaced{margin-top:14px;}
.send{margin-bottom:-6px;}
.l-text-field{
  height:100%;
  width:210px;
  margin-left:10px;
  border:none;
  color:black;
  font-size:14px;
  outline:none;
}

.field-desc{
  color:#8d8d8d;
  text-align:right;
  width:100px;
  float:left;
  line-height:48px;
}



.checkbox{display:none;}

.check{position:relative;}
.check img{position:absolute;top:14px;right:14px;}

.sports-checkboxes{width:210px;float:right;margin-top:12px;}
#niveau{margin-top:12px;float:left;margin-left:10px;}
.sports-checkboxes li{text-align:left;margin-top:3px;}

.sports-checkboxes input{margin-right:8px;}

#envoie{width:100%;height:45px;background-color: white;border:none;color:#69c1db;font-size:16px;font-family: 'ProximaNovaSemibold';cursor:pointer;}
#envoie:hover{background-color: #efefef;}
#facebook_button{margin-top:11px;}


#entryfail{position:absolute;top:124px;right:15px;}




#profile-content{width:1000px;margin:0 auto;padding-top:40px;}

#medias{width:100%;margin:0 auto;padding-top:40px;}

.poster-media{display:inline-block;width:200px;height:30px;background-color:#efefef;text-transform:uppercase;font-weight:bold;color:#dd4a4a;margin-left:180px;text-align: center;padding-top:6px;}
.poster-media a{color:#dd4a4a;text-decoration:none;}
.inline-block{display:inline-block;}


